<h1 class="text-center">Saját munkaidőim</h1>

<div class="page-header">
    <h1>Saját munkaidőim</h1>
</div>

<table class="table table-striped table-hover" id="errorTable">
    <caption>Összes munkaidőm: {{sumtime}}</caption>
    <thead>
        <tr>
            <th>Kezdés</th>
            <th>Vég</th>
            {{#if boss}}
            <th>Törlés</th>
            {{/if}}
        </tr>   
    </thead>
    <tbody>
        {{#if boss}}
        {{#each wts}}
        <tr>
            <td>{{dateFormat this.dateFrom}}</td>
            <td>{{dateFormat this.dateTo}}</td>
            <td><a href="/wt/del/{{this.id}}" class="btn">Törlés</a></td>
        </tr>
        {{/each}}
        {{else}}
        {{#each wts}}
        <tr>
            <td>{{dateFormat this.dateFrom}}</td>
            <td>{{dateFormat this.dateTo}}</td>
        </tr>
        {{/each}}
        {{/if}}
    </tbody>
</table>